.cAlert{
    @include rounded(4px);
    font-size: $typo-size-sm;
    font-family: $main-family;
    padding: $padding-xs;
    background-color: $primary-light;
    color: $common-white;
    width: auto;
    text-align: center;
    border: 0px;
}

.cAlert-primary{
    @extend .cAlert;
    background-color: $primary-color;
    color: $common-white;
}

.cAlert-outlined{
    @extend .cAlert-primary;
    border: 0.2px solid $primary-dark;
    background-color: $common-white;
    color: $primary-dark;
}

.cAlert-secondary{
    @extend .cAlert;
    background-color: $secondary-color;
    color: $common-white;
}

.cAlert-outlined{
    @extend .cAlert;
    border: 0.2px solid $secondary-dark;
    background-color: $common-white;
    color: $secondary-dark;
}

.cAlert-fullwidth{
    @extend .cAlert;
    @include border-box;
    width: 100%;
}

.cAlert-xs{
    @extend .cAlert;
    padding: 8px;
    @include border-box;
}
.cAlert-md{
    @extend .cAlert;
    @include border-box;
    padding: 16px;
}
.cAlert-xl{
    @extend .cAlert;
    @include border-box;
    padding: 24px;
}