.cButton{
    @include rounded(4px);
    font-size: $typo-size-sm;
    font-family: $main-family;
    padding: $padding-xs;
    background-color: $primary-light;
    color: $common-white;
    width: auto;
    text-align: center;
    border: 0px;
    cursor: pointer;
}

.cButton:disabled, button[disabled]{
    @extend .cButton; 
    background-color: $grey300;
    color: $grey500;
    &:hover{
        background-color: $grey300;
        color: $grey500;
    }
  }

.cButton-primary{
    @extend .cButton;
    background-color: $primary-color;
    color: $common-white;
    &:hover{
        background-color: $primary-dark;
    }
}

.cButton-secondary{
    @extend .cButton;
    background-color: $secondary-color;
    color: $common-white;
    &:hover{
        background-color: $secondary-dark;
    }
}

.cButton-outlined{
    @extend .cButton-secondary;
    border: 0.2px solid $secondary-dark;
    background-color: $common-white;
    color: $secondary-dark;
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        color: $common-white;
        background-color: $crimson-ua-2;

    }
}

.cButton-fullwidth{
    @extend .cButton;
    @include border-box;
    width: 100%;
}

.cButton-xs{
    @extend .cButton;
    @include border-box;
    padding: 8px;
}
.cButton-md{
    @extend .cButton;
    @include border-box;
    padding: 16px;
}
.cButton-xl{
    @extend .cButton;
    @include border-box;
    padding: 24px;
}