.card{
    @include shadow(0px, 0px, 2px, $primary-light);
    @include rounded(4px);
    width: 100%;
    height: auto;
    border: 1px solid $primary-color;
    background-color: $common-white;
    gap: $grid-gap;
    cursor: pointer;

    &__src{
        width: 100%;
        height: 200px;
        overflow: hidden;
        background: $grey300;
        
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content{
        @include grid-templete(1fr, (1fr 1fr auto));
        padding: $padding-sm;

        &-title{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        &-info{
            @include flex-between;
            align-items: center;
        }
    }
}