.layout{
    &__header{
        @include flex-between;
        width: 100%;
        &-menu{
            display: none;
            @media (max-width: 640px) {
                display: flex;
            }
        }
    }
}