html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

p, span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Default - Desktop */
.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1920px;
  max-height: 100vh;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.layout header {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 0.5px solid #56AB91;
}
@media (max-width: 1025px) {
  .layout header {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
.layout main {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 13;
  overflow-y: scroll;
}
@media (max-width: 769px) {
  .layout main {
    grid-column-start: 1;
    grid-column-end: 9;
  }
}
@media (max-width: 640px) {
  .layout main {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}
.layout aside {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 13;
  border-left: 0.5px solid #56AB91;
  position: sticky;
  top: 0;
  transition: 0.3s ease-in;
}
@media (max-width: 1025px) {
  .layout aside {
    grid-row-start: 2;
    grid-row-end: 13;
  }
}
@media (max-width: 769px) {
  .layout aside {
    grid-column-start: 9;
    grid-column-end: 13;
  }
}
@media (max-width: 640px) {
  .layout aside {
    display: none;
  }
}
.layout aside.active {
  display: block;
  background-color: #fff;
  transition: 0.3s ease-in;
  z-index: 9;
}
@media (max-width: 640px) {
  .layout aside.active {
    grid-column-start: 6;
    grid-column-end: 13;
  }
}
@media (max-width: 640px) {
  .layout aside.active {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.layout__header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
}
.layout__header-menu {
  display: none;
}
@media (max-width: 640px) {
  .layout__header-menu {
    display: flex;
  }
}

.layout {
  position: relative;
}
.layout__title {
  padding: 24px;
}
.layout__main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  padding: 24px;
  gap: 12px;
}
@media (max-width: 1025px) {
  .layout__main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .layout__main {
    grid-template-columns: repeat(1, 1fr);
  }
}

.layout__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  position: sticky;
  top: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.layout__aside-checkoutButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.layout__aside-noProducts {
  margin: 16px 0;
}

.cButton, .cButton-xl, .cButton-xl:disabled, .cButton-md, .cButton-md:disabled, .cButton-xs, .cButton-xs:disabled, .cButton-fullwidth, .cButton-fullwidth:disabled, .cButton-secondary, .cButton-outlined, .cButton-secondary:disabled, .cButton-outlined:disabled, .cButton-primary, .cButton-primary:disabled, .cButton:disabled, button[disabled] {
  -webkit-border-radius: 4px;
  -moz-border-raidus: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  background-color: #88D4AB;
  color: #fff;
  width: auto;
  text-align: center;
  border: 0px;
  cursor: pointer;
}

.cButton:disabled, .cButton-xl:disabled, .cButton-md:disabled, .cButton-xs:disabled, .cButton-fullwidth:disabled, .cButton-secondary:disabled, .cButton-outlined:disabled, .cButton-primary:disabled, button[disabled]:disabled, button[disabled] {
  background-color: #e0e0e0;
  color: #9e9e9e;
}
.cButton:disabled:hover, .cButton-xl:disabled:hover, .cButton-md:disabled:hover, .cButton-xs:disabled:hover, .cButton-fullwidth:disabled:hover, .cButton-secondary:disabled:hover, .cButton-outlined:disabled:hover, .cButton-primary:disabled:hover, button[disabled]:hover {
  background-color: #e0e0e0;
  color: #9e9e9e;
}

.cButton-primary {
  background-color: #56AB91;
  color: #fff;
}
.cButton-primary:hover {
  background-color: #036666;
}

.cButton-secondary, .cButton-outlined {
  background-color: #DA344D;
  color: #fff;
}
.cButton-secondary:hover, .cButton-outlined:hover {
  background-color: #C42348;
}

.cButton-outlined {
  border: 0.2px solid #C42348;
  background-color: #fff;
  color: #C42348;
  transition: 0.3s;
}
.cButton-outlined:hover {
  transition: 0.3s;
  color: #fff;
  background-color: #EF7674;
}

.cButton-fullwidth {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.cButton-xs {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.cButton-md {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}

.cButton-xl {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px;
}

.cAlert, .cAlert-xl, .cAlert-md, .cAlert-xs, .cAlert-fullwidth, .cAlert-secondary, .cAlert-primary, .cAlert-outlined {
  -webkit-border-radius: 4px;
  -moz-border-raidus: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  background-color: #88D4AB;
  color: #fff;
  width: auto;
  text-align: center;
  border: 0px;
}

.cAlert-primary, .cAlert-outlined {
  background-color: #56AB91;
  color: #fff;
}

.cAlert-outlined {
  border: 0.2px solid #036666;
  background-color: #fff;
  color: #036666;
}

.cAlert-secondary {
  background-color: #DA344D;
  color: #fff;
}

.cAlert-outlined {
  border: 0.2px solid #C42348;
  background-color: #fff;
  color: #C42348;
}

.cAlert-fullwidth {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.cAlert-xs {
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cAlert-md {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
}

.cAlert-xl {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px;
}

.card {
  -webkit-box-shadow: 0px 0px 2px #88D4AB;
  -moz-box-shadow: 0px 0px 2px #88D4AB;
  box-shadow: 0px 0px 2px #88D4AB;
  -webkit-border-radius: 4px;
  -moz-border-raidus: 4px;
  border-radius: 4px;
  width: 100%;
  height: auto;
  border: 1px solid #56AB91;
  background-color: #fff;
  gap: 12px;
  cursor: pointer;
}
.card__src {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #e0e0e0;
}
.card__src img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.card__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto;
  padding: 16px;
}
.card__content-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.card__content-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 500;
}

.title-xxs {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

.title-xs {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}

.title-sm {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}

.title-md {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
}

.title-lg {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}

.title-xl {
  font-size: 92px;
  font-weight: 800;
  margin-bottom: 24px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 24px;
}

/*# sourceMappingURL=main.css.map */
